a{
    color: #FF6060;   
}
#header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 7% 4% 7%;
}



#nav_container{
    width: 25%;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

nav{
   a{
    width: 50%;
   }
}

@media screen and (max-width: 768px){
    .logo_header{
        width: 100%;
    }
    #nav_container{
        width: 100%;
        justify-content: flex-end;
    }
    #header_container{
        div {
            width: 50%;

    }
    
    nav{
        div{
            a{
                font-size: 0.7em;
                white-space: nowrap;
                margin-left: 10px;
            }
        }
    }
}
}